/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
} 

.page_image {
  height: 550px;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.main.contents {
  width: 100%;
}

body
  .top_image {
    background-image: url("home.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 70% !important;
    background-position:right center !important ;
    opacity: 0.1 i !important;
    transform: translateX(-20px) i !important;
    transition: all 1s i !important;
}

  .confirm_image {
    background-image: url("confirm.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 45% !important;
    background-position:right center !important ;
  }

  .result_image {
    background-image: url("result.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 60% !important;
    background-position:right center !important ;
  }

  .alert_image {
    background-image: url("alert.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 18% !important;
    background-position: 80% 50% !important ;
  }

  .user_show_image {
    background-image: url("user_show.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 35% !important;
    background-position: 80% 8% !important ;
  }

  .choice_show_image {
    background-image: url("choice_show.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 35% !important;
    background-position: 80% 8% !important ;    
  }

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 15px 0;
}

.ui.container.main {
  padding-top:80px;
  padding-bottom:80px;
}

.header.title {
  font-size: 50px;
  font-family: “STKaiti”, serif;
}

.catchcopy {
  writing-mode: vertical-rl;
  font-size: 30px;
  font-family: “STKaiti”, serif;
}

.button.lists {
  margin-top:100px;
}
.ui.secondary.button {
  display:block;
  width:200px;
  margin:30px 0;
}

.ui.form {
  width:400px;
  margin-top:70px;
}

.ui.success.message {
  margin-top:40px;
}

.ui.error.message {
  margin-top:40px;
}


.normal {
  font-size: 15px;
}

.strong {
  font-size: 24px;
}

.ui.header.result {
  font-size: 40px;
}

.show_result {
  writing-mode: vertical-rl;
}
.ui.header
  span {
    border-bottom: solid 2px black;
}

.alert {
  color: red;
}